
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
@using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "AccountData", Url = Url.Action("Create") }))
{
    @Html.Action("Create")
}

<hr />
<div id="AccountData" data-listsource="/ExpenseIncome/List">

</div>
@section scripts
{
    <script src="~/Scripts/View/ExpenseIncome/ExpenseIncomePagedList.js"></script>
}
@*@Html.Action("List", new { page = page , pageCount=20 })*@