
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
@using (Ajax.BeginForm("Create", new AjaxOptions
{
    UpdateTargetId = "AccountCreate",
    OnSuccess = "checkInsert(data)"
}))
{
    <div id="AccountCreate">
        @Html.Action("Create")
    </div>

}

<hr />
<div id="AccountData" data-listsource="/ExpenseIncome/List">

</div>
@section scripts
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/View/ExpenseIncome/ExpenseIncomePagedList.js"></script>

}
@*@Html.Action("List", new { page = page , pageCount=20 })*@