
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

@Html.Action("Create")
<hr />
<div id="AccountData">

</div>
@section scripts
{
<script src="~/Scripts/View/ExpenseIncome/ExpenseIncomePagedList.js"></script>
}
@*@Html.Action("List", new { page = page , pageCount=20 })*@